@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    --bgColor: #17B794;
    --textColor :#fff;
}
.dark-theme {
    --bgColor: #fff;
    --textColor :#17B792;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--bgColor);
    border-left: 10px solid var(--bgColor);
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.dropdownToggleMenu{
    cursor: pointer;
}
.navigation .nav_item .plusFlex{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
/* .navigation .nav_item .plusFlex i {
	position: relative;
	right: -94px;
	width: 100%;
} */
.nav_item i.active:before {
    content: "\f068";
}
.nav_item .item{
    position: relative;
}
/* Dropdown Menus Start Styles */
.dropdown_menu {
	width: 100%;
	height: 100%;
	position: relative;
	top: 100%;
	left: 0;
	background: var(--textColor);
	display: block;
	overflow: hidden;
	z-index: 999;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.dropdown_menu li{
    margin-left: 5px;
}
.dropdown_menu li:first-child{
    border-top: 1px solid #dbdbdb
}
.dropdown_menu li{
    border-bottom: 1px solid #dbdbdb;
}
.dropdown_menu li .dropdown_item {
	padding: 10px;
	display: block;
	color: var(--bgColor);
}
.dropdown_menu .dropdown_item .icon{
    position: relative;
    top: 3px;
}
.dropdown_menu li .dropdown_item:hover {
	background: var(--bgColor);
	color: var(--textColor);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.dropdown_menu.active{
    width: 400px;
    height: 150px;

}
/* .navigation .navi_items .nav_item:hover .dropdown_menu{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
} */
/* Dropdown Menus End Styles */
.navigation.active{
    width: 74px;
}

.navigation ul.navi_items{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul.navi_items li.nav_item{
    position: relative;
    width: 100%;
    list-style: none;
    padding-left: 1rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul.navi_items li.nav_item:hover,
.navigation ul.navi_items li.nav_item.hovered
{
    background: var(--textColor);
    margin: 1px;
    
}
.navigation ul.navi_items li.nav_item.active{
    background: var(--textColor);
    padding-bottom: 1px;
}
.navigation ul.navi_items li.nav_item.active .item{
    color: var(--bgColor);
}
.navigation ul.navi_items li.nav_item:nth-child(1) {
	margin-bottom: 29px;
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
    border-left: 0;
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}
/* .navigation ul.navi_items li.nav_item:nth-child(1){
    margin-bottom: 20px;
    pointer-events: none; 
} */
.navigation ul.navi_items li.nav_item a.item{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--textColor);
}
.navigation ul.navi_items li.nav_item:hover a.item ,
.navigation ul.navi_items li.nav_item.hovered a.item 
{
    color: var(--bgColor);
}
.navigation ul.navi_items li.nav_item a.item .icon{
    position: relative;
    display: block;
    min-height: 60px;
    height: 60px;
    line-height: 72px;
    text-align: center;
}
.navigation ul.navi_items li.nav_item a.item .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul.navi_items li.nav_item a.item .title{
    position: relative;
    display: block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul.navi_items li.nav_item:hover a.item::before,
.navigation ul.navi_items li.nav_item.hovered a.item::before
{
    content: '';
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    top: -50px;
    box-shadow:  35px 35px 0 10px var(--textColor);
    pointer-events: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.navigation ul.navi_items li.nav_item:hover a.item::after,
.navigation ul.navi_items li.nav_item.hovered a.item::after
{
    content: '';
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    bottom: -50px;
    box-shadow:  35px -35px 0 10px var(--textColor);
    pointer-events: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* main */

.main{
 position: absolute;
 width: calc(100% - 300px);
 left: 300px;
 min-height: 100vh;
 background: var(--textColor);
 transition:0.5s ;
 -webkit-transition:0.5s ;
 -moz-transition:0.5s ;
 -ms-transition:0.5s ;
 -o-transition:0.5s ;
}
.main_content_area{
    height: 100vh;
    padding: 10px;
}
.main_content_area h1{
    color: var(--black2);
}
.main.active{
    width: calc(100% - 74px);
    left: 74px;  
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bgColor);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    color: var(--textColor);
}
.toggle i{
    font-size: 25px;
}
.toggle i.active:before {
    content: "\f00d";
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input {
	width: 100%;
	height: 40px;
	padding: 5px 20px;
	outline: none;
	padding-left: 35px;
	border: 1px solid var(--black2);
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	color: var(--bgColor);
    background: var(--textColor);
}

.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.allUsers ul li .iq_items {
	color: var(--textColor);
	padding-left: 22px;
}
.allUsers ul li .iq_items:hover{
    color: var(--block1);
}
.allUsers ul li .iq_items span{
    font-size: bold;
    font-size: 18px;
}
.allUsers{
    position: relative;
    padding-right: 30px;
}
#dark-btn {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    background: rgb(51, 46, 46);
    width: 45px;
    padding: 2px 3px;
    transition: padding-left 0.5s, background 0.5s;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: padding-left 0.5s, background 0.5s;
    -moz-transition: padding-left 0.5s, background 0.5s;
    -ms-transition: padding-left 0.5s, background 0.5s;
    -o-transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #17B794;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_settings{
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 60px;
    background: var(--bgColor);
    min-width: max-content;
    z-index: 99;
    transition:transform 0.5s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 8px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 8px -1px rgba(0,0,0,0.75);
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    -webkit-transition:transform 0.5s;
    -moz-transition:transform 0.5s;
    -ms-transition:transform 0.5s;
    -o-transition:transform 0.5s;
}
.user_settings ul li .btn{
    text-align: center;
    padding: 10px;
}
.user_settings ul li .btn button {
    padding: 10px;
    outline: none;
    border: none;
    background: #fcecec;
    color: #e64141;
    font-size: 17px;
    font-weight: 500;
    transition: .5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.user_settings ul li .btn button:hover{
   background: #e64141;
   color: #fff;
   cursor: pointer;
   transform:translateX(3px);
   -webkit-transform:translateX(3px);
   -moz-transform:translateX(3px);
   -ms-transform:translateX(3px);
   -o-transform:translateX(3px);
}
.user_settings ul li .btn button ion-icon{
    padding-right: 5px;
    position: relative;
    top: 3px;

}
.user_settings.active{
    opacity: 1;
    transition: .5s;
}
.user_settings ul li {
	width: 300px;

}
.user_settings ul .userName h3 {
	padding-top: 20px;
	padding-bottom: 20px;
    font-weight: 800;
	padding-left: 10px;
    text-shadow: 1px -3px 4px rgba(0,0,0,0.41);
    color: var(--textColor);
}
.user_settings ul .userName h3 span{
    font-size: 13px;
    font-weight: inherit;
}
.user_settings ul li span{
    font-size: 10px;
    display: block;
    color: var(--black2);
}
.user_settings ul li .userItem {
    display: block;
    display: flex;
    padding: 10px;
    align-items: center;
    color: var(--textColor);
    font-weight: 500;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.user_settings ul li .userItem ion-icon {
	padding-right: 18px;
	font-size: 23px;

}

.user_settings ul li:hover .userItem, 
.user_settings ul li:hover span {
	color: var(--bgColor);
	background: var(--textColor);
	transform: translateX(2px);
	-webkit-transform: translateX(2px);
	-moz-transform: translateX(2px);
	-ms-transform: translateX(2px);
	-o-transform: translateX(2px);
}
.user_settings ul li:hover span{
    background: transparent;
}

.words {

    font-size: 10px;
    line-height: 1.5;
    color: var(--textColor);
  }
  .words span {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.963);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
/* CardBox Start */

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cardBox .card{
    position: relative;
    background: var(--textColor);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--bgColor);
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBox{
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover{
    background: var(--bgColor);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--textColor);
}
/* order Details section Start*/
.details_detail_section {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}
.details_detail_section .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--textColor);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}
.details_detail_section .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.details_detail_section .cardHeader h2{
    color: var(--bgColor);
    font-weight: 600;
}
.details_detail_section .cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--bgColor);
    text-decoration: none;
    color: var(--textColor);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.details_detail_section .table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details_detail_section .table thead td{
    font-weight: 600;
}
.details_detail_section .recentOrders .table tr{
    color: var(--block1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details_detail_section .recentOrders .table tbody tr:last-child{
    border-bottom: none;
}
.details_detail_section .recentOrders .table tbody tr:hover{
    background: var(--bgColor);
    color: var(--textColor);
}
.details_detail_section .recentOrders .table tr td{
    padding: 10px;
}
.details_detail_section .recentOrders .table tr td:last-child{
    text-align: end;
}
.details_detail_section .recentOrders .table tr td:nth-child(2){
    text-align: end;
}
.details_detail_section .recentOrders .table tr td:nth-child(3){
    text-align: center;
}
.details_detail_section .status{
    padding: 2px 4px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.details_detail_section .status.delivered{
    background: #8de02c;
    color: var(--textColor);
}
.details_detail_section .status.paid{
    background: #2405ef;
    color: var(--textColor);
}
.details_detail_section .status.ongoing{
    background: #f16000;
    color: var(--textColor);
}
.details_detail_section .status.inProgress{
    background: #888282;
    color: var(--textColor);
}
/* recentCustomer */
.recentCustomer{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--textColor);
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.recentCustomer .imgBox{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.recentCustomer .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomer table tr:hover{
    background-color: var(--bgColor);
    color: var(--textColor);
    white-space: unset;
}
.recentCustomer table tr td{
    padding: 12px 10px;
}
.recentCustomer table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomer table tr td span{
    font-size: 14px;
    color: var(--black2);
}
.recentCustomer table tr:hover td span{
    color: var(--textColor);
}

/* Responsive  */
@media screen and (max-width:991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}
  /* Footer Section */
  .dashboard_footer_section {
	background: var(--bgColor);
	padding: 1rem;
	color: var(--textColor);
	font-size: smaller;
	text-align: center;
}




@media screen and (max-width:768px){
    .details_detail_section {
        grid-template-columns: 1fr;
    }
    .recentOrders{
        overflow-x: auto;
    }
    .status.status.delivered{
        white-space: nowrap;
    }
}
@media screen and (max-width:668px){
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:480px){
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-height: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 100;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 101;
    }
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--textColor);
    }
}