    @media screen and (max-width:1130px) {
        .appointment_section .appointment_item {
            padding: 3.6rem 3rem;
        }
        .appointment_section .appointment_item a {
            color: #fff;
            font-size: 15px;
        }
        .appointment_section .appointment_item.bg_color4 {
            padding: 24px 50px;
        }
        .appointment_section .appointment_item.bg_color1::after {
            border-top: 46px solid transparent;
            border-bottom: 50px solid transparent;
        }
    }
    
    @media screen and (max-width:991px) {
        /*MOBILE MENU nav-menu Styling */
        .navbar-area {
            display: block;
            padding-left: 0rem;
        }
        .navbar-area span {
            display: block;
        }
        .menu-btn {
            display: block;
            z-index: 9999;
            top: 15px;
            color: #fff;
        }
        .menu-btn i.active:before {
            content: "\f00d";
        }
        .navbar .menu {
            position: absolute;
            display: block;
            height: 100vh;
            width: 100%;
            left: -108%;
            top: 100%;
            padding-top: 4rem;
            background: rgba(236, 238, 243, 0.8);
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -ms-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            z-index: 999;
        }
        .navbar .menu .menu-item a {
            color: #000;
        }
        .nav-left-side-menu .menu .menu-item {
            display: block;
            border-top: 1px solid #000;
        }
        .navbar .menu.active {
            left: 0;
            padding-top: 18px;
        }
        .navbar ul.menu li.menu-item {
            display: block;
        }
        .navbar ul.menu li.menu-item a,
        .navbar ul.menu li.menu-item a.item {
            padding: 10px 0;
            border-bottom: 1px solid;
            padding: 1rem 0;
            display: block;
        }
        .navbar ul.menu li.menu-item a.item {
            padding: 1rem;
        }
        .navbar ul.menu li.menu-item a.menu-link:hover {
            background: #1465ea;
            color: #fff;
        }
        .header-content h1 {
            font-size: 3rem;
        }
        .international_program-area .content {
            flex-basis: 70%;
            margin: 0 auto;
            margin-bottom: 8rem;
        }
        .team-content .team-img img {
            width: 200px;
        }
        .footer_section_part {
            color: white;
            text-align: center;
            border-bottom: 1px solid;
            padding: 5px;
        }
        .department_item,
        .facilisties_item {
            flex-basis: 45%;
        }
    }
    
    @media screen and (max-width:910px) {
        .appointment_section .appointment_item {
            margin: unset;
            flex-basis: 50%;
            border: 2px solid;
            padding: 14px 0;
            text-align: center;
        }
        .appointment_section .appointment_item.bg_color1::after {
            display: none;
        }
        .appointment_section .appointment_item.bg_color4 {
            padding: 5px 150px;
            margin-top: -4px;
        }
        .appointment_section .appointment_item.bg_color2 {
            margin-top: -1px;
        }
        .facilisties_details_item .content {
            width: 95%;
        }
    }
    
    @media screen and (max-width:860px) {
        .appointment_section .appointment_item {
            flex-basis: 100%;
        }
    }
    
    @media screen and (max-width:690px) {
        .top_header_menu_section .item {
            width: 100%;
            text-align: center;
        }
        .top_header_menu_section .item:first-child {
            margin-top: 1rem;
        }
        .why_choose_section .why_choose_section_left,
        .why_choose_section .why_choose_section_right {
            flex-basis: 100%;
            /* margin-top: 1rem; */
        }
        .why_choose_section .why_choose_section_right {
            margin-top: 2rem;
        }
        .department_item,
        .facilisties_item {
            flex-basis: 95%;
        }
    }
    
    @media screen and (max-width:450px) {
        .search_box {
            margin-bottom: 2rem;
        }
    }