/* /////////////////// */
/* Common CSS Start*/
/* /////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
  body {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    color: #333;
    text-rendering: optimizeLegibility;
   }
   :root{
     --primary-color:#047aed;
   }
    ul li {
      list-style: none; 
    }
    
    a {
      text-decoration: none;
    }
    h1,
    h2{
      font-weight: 300;
      line-height: 1.2;
      margin: 10px 0;
    }
    p{
      margin: 10px 0;
    }
    img{
      width: 100%;
    }
    a:hover {
      text-decoration: none;

    }
    ul {
      margin: 0;
      padding: 0; 
    }
    .layout-page {
      position: relative;
      background: rgb(243, 243, 243);
    }
    .layout-page #page-boxed {
      background: #ffffff; 
    }
    .wrapper {
      max-width: 1513px;
      padding-left: 1rem;
      padding-right: 1rem;
      /* overflow: hidden;
      margin: 0 auto; */
    }
    .btn_style {
      background: #17a2b8;
      display: block;
      padding: 2px 6px;
      border-radius: 2px;
      color: #fff;
      background: #50a3a2;
      background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    }
    .btn_style:hover{
      color:#fff;
      background: #53e3a6;
      background: linear-gradient(to bottom right, #50a3a2 0%, #50a3a2 100%);
    }
   /* /////////////////// */
    /* Common CSS End*/
  /* /////////////////// */
  /* Navbar Start Styling */
  /* <!-- header top bar section Start --> */
nav.top_header .top_bar_side{
    display: flex;
    justify-content: space-between;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    align-items: center;
    position: relative;
  }
nav.top_header .top_bar_side ul li{
    display: inline;
    position: relative;
  }
  nav.top_header .top_bar_side ul li .iq_items{
    padding: 7px 5px;
    display: inline-block;
    color:#fff;
    border-left: 1px dotted #fff;
    font-weight: 600;
  }
  nav.top_header .top_bar_side ul li .iq_items:hover{
    color:#333;
  }
  nav.top_header ul li .iq_items i{
    font-size: 17px;
    font-weight: bold;
  }
  nav.top_header .top_bar_side ul li:last-child{
    border-right: 1px dotted #fff;
    display: inline-block;
  }


  .dropdown_sub_menu{
    position: absolute;
    width: 300px;
    height: max-content;
    /* top: 40px; */
    left: 0;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    border-top: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #777D74;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 99;
    }
  
    .dropdown_sub_menu li{
      display: block !important;
      border-bottom: 1px solid #333;
    }
  
    nav.top_header .top_bar_side ul li:hover .dropdown_sub_menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  /* //////////////////////////  Right Site /////////////////////////*/
  
  nav.top_header .top_bar_side .user_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.top_bar_side .user_settings{
  border-top: 1px solid;
  position: absolute;
  display: block;
  right:-640px;
  top: 100%;
  /* width: 100%; */
  background: #52a5a4; 
  background: linear-gradient(to bottom right, #52a5a4 0%, #53e5a7 100%);
  /* transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in; */
  
}
.user_settings.active{
  top: 40px;
  right:0;
  z-index: 99;
}
.user_settings ul li .btn{
  text-align: center;
  padding: 10px;
}
.user_settings ul li .btn button {
  padding: 10px;
  outline: none;
  border: none;
  background: #fcecec;
  color: #e64141;
  font-size: 17px;
  font-weight: 500;
  transition: .5s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.user_settings ul li .btn button:hover{
 background: #e64141;
 color: #fff;
 cursor: pointer;
 transform:translateX(3px);
 -webkit-transform:translateX(3px);
 -moz-transform:translateX(3px);
 -ms-transform:translateX(3px);
 -o-transform:translateX(3px);
}
.user_settings ul li .btn button ion-icon{
  padding-right: 5px;
  position: relative;
  top: 3px;

}

.user_settings ul li {
width: 300px;

}
.user_settings ul .userName h3 {
padding-top: 20px;
padding-bottom: 20px;
font-weight: 800;
padding-left: 10px;
text-shadow: 0px 0px 0px rgba(0,0,0,0.41);
color:#fff;
}
.user_settings ul .userName h3 span{
  font-size: 13px;
  font-weight: inherit;
}
.user_settings ul li span{
  font-size: 10px;
  display: block;
  color: #fff;
}
.user_settings ul li .userItem {
  display: flex;
  padding: 10px;
  align-items: center;
  color: #fff;
  font-weight: 500;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.user_settings ul li .userItem ion-icon {
padding-right: 18px;
font-size: 23px;
color: #fff;

}

.user_settings ul li:hover .userItem, 
.user_settings ul li:hover span,
.user_settings ul li .userItem:hover ion-icon
 {
color: #4fa3a2;
background: #fff;
transform: translateX(2px);
-webkit-transform: translateX(2px);
-moz-transform: translateX(2px);
-ms-transform: translateX(2px);
-o-transform: translateX(2px);
}

.user_settings ul li:hover span{
  background: transparent;
}
  /* <!-- header top bar section End --> */
  .welcome_section .welcome_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .welcome_section .welcome_content{
    margin-bottom: 20px;
  }
  .welcome_section .welcome_content h2 strong{
    font-weight: bold;
  }
  .doctor_info_section .card-header{
    background: #4aefed; 
    color:#000;

  }
  .doctor_info_section .card-body h5{
    color: #d11062; 
    font-weight: bold;
  }
  .doctor_info_section .card-body p{
    font-size: 14px;
  }
  .doctor_info_section .list-group{
    border-bottom: 1px solid #52a5a4;
  }
  /* .doctor_info_section .list-group:last-child{
    border-bottom: 1px solid #52a5a4;
  } */
  .doctor_info_section .card{
    border: 1px solid #52a5a4;
  }
  /* ////////////////////Calender Style Start */
  .calendar-section {
    margin-bottom: 20px;
  }
  .calendar, .calendar_weekdays,
  .calendar_content {
    max-width: 585px;
  }
  
  .calendar {
    /*float: left;*/
    margin: auto;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  .calendar_weekdays {
    color: #aaa;
    font-weight: lighter;
  }
  .calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
  }
  .calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
  }
  .calendar_content:after, .calendar_weekdays:after, .calendar_header:after {
    content: ' ';
    display: table;
    clear: both;
  }
  .calendar_weekdays div, .calendar_content div {
    /*border: 1px dotted #999;*/
    width: 14.28571%;
    height: 70px;
    line-height: 69px;  
    overflow: hidden;
    border-radius:50%;
    text-align: center;
    background-color: transparent;
  }
  
  .calendar_content .today {
    color: #3B8FC7;
  }
  .calendar_content div {
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid transparent;
  }
  .calendar_content div:hover {
    border: 1px solid #777;
    /*line-height: 68px;*/
    cursor: pointer;
  }
  
  .calendar_content div.blank:hover {
    cursor: default;
    border: none;
  }
  
  .calendar_content div.past-date {
    cursor: initial;
    color: #d5d5d5;
  }
  .calendar_content div.today{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background:orange;
  }
  .calendar_content div.selected {
    background-color: rgba(153, 153, 161, .2); /*rgba(170, 170, 176, .5) #aaaab0*/
    border: 1px solid white;
  }
  .calendar_header {
    width: 100%;
    text-align: center;
  }
  
  .calendar_header h2 {
    float:left;
    width:70%;
    margin-top: 10px;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #FFFFFF;
  }
  
  button.switch-month {
    background-color: #21dd9f;
    padding: 0;
    outline: none;
    border: none;
    line-height: 52px;
    height: 55px;
    float: left;
    width: 15%;
    transition: color .2s;
  }
  
  button.switch-month:hover {
    color: #5EADE2;
  }
  button.switch-month:active {
    background-color: rgba(113, 113, 125, .4);
  }
  .calendar_header h2 {
    color: #409EDD;
    line-height: 1.7;
  }
  /* ////////////////////Calender Style End */
  



