/* /////////////////// */
/* Common CSS Start*/
/* /////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
  body {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    color: #333;
    text-rendering: optimizeLegibility;
   }
   :root{
     --primary-color:#047aed;
   }
    ul li {
      list-style: none; 
    }
    
    a {
      text-decoration: none;
      color: #333;
    }
    h1,
    h2{
      font-weight: 300;
      line-height: 1.2;
      margin: 10px 0;
    }
    p{
      margin: 10px 0;
    }
    img{
      width: 100%;
    }
    a:hover {
      text-decoration: none; }
    ul {
      margin: 0;
      padding: 0; 
    }
    .layout-page {
      position: relative;
      background: rgb(243, 243, 243);
    }
    .layout-page #page-boxed {
      background: #ffffff; 
    }
    .wrapper {
      max-width: 1513px;
      padding-left: 1rem;
      padding-right: 1rem;
      /* overflow: hidden;
      margin: 0 auto; */
    }
   /* /////////////////// */
    /* Common CSS End*/
  /* /////////////////// */
  /* Navbar Start Styling */

nav.top_header .top_bar_side{
    display: flex;
    justify-content: space-between;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  }
nav.top_header .top_bar_side ul li{
    display: inline;
    position: relative;
  }

  
  nav.top_header .top_bar_side ul li a{
    padding: 7px 5px;
    display: inline-flex;
    color:#fff;
    border-left: 1px dotted #fff;
    font-weight: 600;
  }
  nav.top_header .top_bar_side ul li:last-child{
    border-right: 1px dotted #fff;
    display: inline-block;
  }
  nav.top_header ul li a i{
    font-size: 25px;
    font-weight: bold;
  }

  .dropdown_sub_menu{
    position: absolute;
    width: 300px;
    height: max-content;
    top: 40px;
    left: 0;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    border-top: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #777D74;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    }
  
    .dropdown_sub_menu li{
      display: block !important;
      border-bottom: 1px solid #333;
    }
  
    nav.top_header .top_bar_side ul li:hover .dropdown_sub_menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  



